<div class="forest-presence" aria-hidden="true">
  <div class="forest-canopy-shadow"></div>
  <div class="forest-trunk-cluster forest-trunk-cluster--left"></div>
  <div class="forest-trunk-cluster forest-trunk-cluster--right"></div>
  <div class="forest-branch-silhouette forest-branch-silhouette--left"></div>
  <div class="forest-branch-silhouette forest-branch-silhouette--right"></div>
  <div class="forest-mist-band forest-mist-band--primary"></div>
  <div class="forest-mist-band forest-mist-band--secondary"></div>
  <div class="forest-breeze-ribbon forest-breeze-ribbon--left"></div>
  <div class="forest-breeze-ribbon forest-breeze-ribbon--right"></div>
</div>
